*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Roboto,sans-serif;
}
/* header */
header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;    
}
header .header_content{    
    max-width: 1500px;
    margin: auto;
    height: 100%;
    
    
}
header .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    
}
header .header_content a img{
    width: 220px;
    height: 70px;

}
header .header_content .menu_list{
    display: flex;   
    align-items: center;
    height: 10rem;
}

header .header_content .menu_list ul{
    list-style:none;
    padding-right:2.8rem;
    
}
header .header_content .menu_list ul li{
    padding: 10rem 1rem;
    display: inline-block;    
}
header .header__content .menu_list ul li a{
    text-decoration: none;
    color: black;    
    font-weight: 500; 
}
 .menu_list ul li a span{    
    font-size: 1.2rem;  
    display: inline-block;
}
@keyframes header-menu{
    0%{
        transform: translateY(100%);
        
    }
    50%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        
        opacity: 1;
    }
}
header .header_content .menu_list ul li a:hover span{   
   color: rgb(236, 98, 121);
   animation-name: header-menu;
   animation-duration: 0.5s;
   animation-iteration-count: 1;
}
header .header_content .menu_list ul li a i{
    color: black;
    transition: all 0.5s;
}
header .header_content .menu_list ul li a:hover i{ 
    color: rgb(236, 98, 121);
}
header .header_content .menu_list .menu_btn button{
    padding: 24px 40px;
    font-size: 1.3rem;
    font-weight: 400;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;    
    text-transform: uppercase;
    line-height: 1.2;
   
}
header .header_content .menu_list .menu_btn:hover button{
   background-position: center right;
}

/* Carousel */
#carousel {
    background-image: url(../image/bg16.png);
    padding-top: 15rem;
    overflow: hidden;    
    background-position: top;
    background-size: 100%;
    
    
}

#carousel .carousel__content{
    display: flex;   
    max-width: 1500px;
    margin: 0 auto;
}
#carousel .carousel_left{
    width: 60%;
    margin-top: 4rem;
}
#carousel .carousel_left .carousel_title p{
    font-size: 1.7rem;
    color: #f55f8d;
    font-weight: 600;
    padding-bottom: 2rem;
  
}

#carousel .carousel_left .carousel_title h2{
    font-size: 5.5rem;
    padding-bottom: 2rem; 
   
    
}

#carousel .carousel_left .carousel_info p:first-of-type{
    font-size: 1.4rem;
    color: #636363;
    padding-bottom: 2rem;
    line-height: 2rem;
    
    
}
#carousel .carousel_left .carousel-icon-tick{
    padding-bottom: 1.6rem;
    font-size: 1.6rem;
    color:#636363;
}

#carousel .carousel-icon-tick i{
    font-size: 1.8rem;
    border:1px solid transparent;
    border-radius: 35px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
    padding: 0.5rem;
    margin-right: 0.8rem;
    
}
#carousel .carousel_right{
    width: 40%;  
    
}
#carousel .carousel_right_image{
    width: 720px;
    margin-left: 4.2rem;
}
#carousel .carousel_right img{
    width: 100%;    
   
    
}
#carousel .carousel_left button{
    padding: 24px 40px;
    font-size: 1.3rem;
    font-weight: 400;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
    

}
#carousel .carousel_left button:hover{
    background-position: center right;
}
/* services */
#services{
    background: url(../image/bg2.png) 0 0 no-repeat;
    background-position: center;
    background-size: cover;
}
.services{
    max-width: 1550px;
    margin: 0 auto;
    
}
.services .services_title{
    text-align: center;
    padding-top: 10rem;
    
}
.services .services_title p{
    font-size: 1.7rem;
    color: #f55f8d;
    font-weight: 600;
    padding-bottom: 2rem;
}
.services .services_title h3{
    font-size: 5.5rem;
}
.services .services_content{
    display: flex;
    margin-top: 3rem;

}
.services .services_content .services_1{
    text-align: center;

}
.services .services_content .services_1,
.services .services_content .services_2,
.services .services_content .services_3
{
    padding: 2rem 1.2rem 2rem 1.2rem;
    
    
}
.services .services_content .services_1_Web,
.services .services_content .services_2_SR,
.services .services_content .services_3_GT
{
   
    height: 100%;
    min-width: 20rem;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transform: translateY(0);
    transition: all .5s;
    
}
.services .services_content .services_1_Web:hover,
.services .services_content .services_2_SR:hover,
.services .services_content .services_3_GT:hover
{  
    transform: translateY(-2rem);
    
}
.services .services_content .services_1_image{
    width: 60%;
    margin: 2rem auto;

}
.services .services_content .services_1 h3,
.services .services_content .services_2 h3,
.services .services_content .services_3 h3{
    font-weight: 700;
    font-size: 2rem;
    color: #262626;
    margin: 15px 0;

}
.services .services_content .services_1 p,
.services .services_content .services_2 p,
.services .services_content .services_3 p{
    color: rgb(117, 116, 116);
    margin: 2rem 4rem;
    font-size: 1.2rem;
    line-height: 2rem;
}
.services .services_content .services_1_image img {
    width: 100%;
}
.services .services_content .services_2{
    text-align: center;
}
.services .services_content .services_3{
    text-align: center;
}

/* aboutus */
#aboutus{
    padding:7rem 0;
}
.aboutus{
    display: flex;

}
.aboutus_image{
    width: 50%;    
    animation-name: fadeInLeft;
    animation-duration: 2s;
    padding-top: 6rem;
    

}
.aboutus_image img{
   
    width: 87%;
    height: 35.5rem;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    filter: contrast(1.2);

}
.aboutus_content{
    width: 50%;
    animation-name: fadeInRight;
    animation-duration: 2s;
}
.aboutus__content{
    width: 85%;
}
.aboutus__content .title{
    font-size: 1.8rem;
    color: #f55f8d;
    font-weight: 600;
}

.aboutus_content_title h2{
    font-size: 5.3rem;
    padding-bottom: 2rem; 
    line-height: 4rem;
    
}
.aboutus__content h2:nth-child(1){
    margin-top: 2rem;
    
}
.aboutus__content p{
    font-size: 1.25rem;
    color: #636363;
    padding-bottom: 2rem;
    line-height: 1.7rem;
}
.aboutus_content_tick p{
    line-height: 1rem;
}
.aboutus_content_tick p i{
    font-size: 1rem;
    border:3px solid #f55f8d;
    border-radius: 35px;   
    color: #f55f8d;
    padding: 0.2rem;
    margin-right: 0.8rem;
}
.aboutus__content button{
    padding: 24px 40px;
    font-size: 1.3rem;
    font-weight: 400;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
    
}
.aboutus__content button:hover{
    background-position: center right;
}
/* number */
#number{
    padding: 8rem 0 4rem 0;
    background-image: url(../image/bg14.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 135%;

    
}
.number{
    width: 100%;
}
.number .number_content{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.number_item{
    width: 25%;
    text-align: center;
}
.number_item i{
    font-size: 3.5rem;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.number_item h2,.countup{
    font-size: 5rem;
    color: #f55f8d;
    font-weight: 700;
}
.number_item p{
    font-size: 1.5rem;
    color: #262626;
}

/* feature */
#feature{
    background-image: url(../image/bg2.png);
    background-position: left;
    background-size: cover;
    padding: 8.8rem 0 4rem 0;
}
.feature_content{
    display: flex;

}
.feature_title{
    animation-name: fadeInLeft;
    animation-duration: 2s;
}
.feature_content_left{
    width: 50%;
}
.feature_content_left .feature_title p{
    font-size: 1.7rem;
    color: #f55f8d;
    font-weight: 600;
    padding-bottom: 2.2rem;
}
.feature_content_left .feature_title h2{
    font-size: 5.5rem;
    padding-bottom: 2rem; 
    line-height: 6rem;
    opacity: 0.85;
    
}
.feature__content_left{
    padding-left: 7rem;
}
.feature_content_right{
    width: 50%;
}
.feature_content_image{
    width: 100%;

}
.feature_content_image img{
    width: 100%;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes move{
    0%{
        transform: rotate(1deg);
    }
    50%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(1deg);
    }
}
.feature_content_1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-image:linear-gradient(to right,#ffffff 0,#ffffff 100%);
    
    border-radius: 1rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    margin-bottom: 2rem;
    min-width: 20rem;
    width: 90%;     
    animation-duration: 2s;
    animation-name: fadeInRight;  
    transition: all 5s;
}

.feature_content_2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color:white;
    border-radius: 1rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    margin: 0 0 2rem 4.5rem;   
    min-width: 20rem;
    width: 90%;       
    animation-duration: 2s;
    animation-name: fadeInRight;
    transition: all 2s;     
}
.feature_content_2 +.feature_content_1{
    animation-name: fadeInRight;
    animation-duration: 2.6s;
}
.feature_content_1_logo{
    width: 20%;
}
.feature_content_2_logo{
    width: 20%;
}
.feature_content_1_text{
    width: 80%;
}
.feature_content_2_text{
    width: 80%;
}
.feature_content_1_text h3{
    font-size: 1.9rem;
    color: rgb(44, 44, 44);
    font-weight: 600;
    padding-bottom: 0.8rem;
    transition: all 1s;
}
.feature_content_2_text h3{
    font-size: 1.9rem;
    color: rgb(44, 44, 44);
    font-weight: 600;
    padding-bottom: 0.8rem;
    transition: all 1s;
}

.feature_content_1_text p{
    font-size: 1.3rem;
    color: rgb(102, 101, 101);   
    padding-bottom: 0.8rem;    
    margin-right: 2rem;
    transition: all 1s;
}
.feature_content_2_text p{
    font-size: 1.3rem;
    color: rgb(102, 101, 101);   
    padding-bottom: 0.8rem;
    margin-right: 2rem;
    transition: all 1s;
}

.feature_content_1_logo i{
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color:#f55f8d;
    transition: all 1s;
    
}
.feature_content_2_logo i{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color:#f55f8d;    
    width: 100%;
    text-align: center;
    transition: all 1s;
    
}
.feature_content_1:hover i,
.feature_content_1:hover h3,
.feature_content_1:hover p
{
    color: white;    
}

.feature_content_2:hover i,
.feature_content_2:hover h3,
.feature_content_2:hover p
{
    color: white;    
}
.feature_content_1:hover
{
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 100%);   

}

.feature_content_2:hover{
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 100%);    
}

/* portfolio */
#portfolio{
    padding-top: 5rem;
}
.portfolio_content{
    max-width: 1500px;
    margin: 0 auto;
}

.portfolio_title p{
    font-size: 1.7rem;
    color: #f55f8d;
    font-weight: 600;
    padding-bottom: 2.2rem;
    text-align: center;
}
.portfolio_title h2{
    font-size: 5.5rem;
    padding-bottom: 2rem; 
    line-height: 6rem;
    opacity: 0.85;
    text-align: center;
}
.portfolio_image{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 2rem;
    

}

.portfolio_image div img{
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;
    
 
}
.portfolio_item1{
    grid-column: 1 /span 2;
    width: 54rem;
    height: 35rem;
    animation: fadeInUp 1s;
    position: relative;
}
.portfolio_item2{
    width: 40rem;
    height: 35rem;
    animation: fadeInUp 1s;
    position: relative;
}
.portfolio_item3,
.portfolio_item4{
    width: 26rem;
    height: 19rem;
    animation: fadeInUp 1s;
    position: relative;
}
.portfolio_item5{
    grid-column: 1 /span 2;
    animation: fadeInUp 1s;
    position: relative;
}
.portfolio_item6{
    grid-row: 2 /span 2;
    grid-column: 3 /span 1;
    animation: fadeInUp 1s;
    position: relative;
}
.portfolio_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    
   
    
}

.portfolio_icon a{
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);   
    padding: 1.5rem;
    display: flex;    
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;     
    background-size: 200%;  
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;  
    opacity: 0;
    transition: all 0.5s;
}
.portfolio_icon i{
    font-size: 2rem;
    color: white; 
    

}
.portfolio__item{
    overflow: hidden;
}
.portfolio__item:hover .portfolio_icon a{ 
    top:1rem;
    right:1rem;
    opacity: 0.9;
}
.portfolio__item:hover .portfolio_text
{
    opacity: 1;
    transform: translateY(-350%);
}
.portfolio__item:hover .portfolio_overlay{
    background-color: #53505047;    
   
}
.portfolio_text{
    position: absolute;
    left: 2rem;
    bottom: -2rem;   
    width: 20rem;
    height: 2rem;
    opacity: 0;
    transition: all 0.5s;   
}
.portfolio_text h2{
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    z-index: 1;
    
   
}
.portfolio_text p{
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.7;
    
}
.portfolio__item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;    
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
    
    
}
.portfolio__item:hover::before{
    left:100%
}


/* Plan */
#plan{
 background-image: url(../image/bg15.png);
 background-position: left;
 
 background-repeat: no-repeat;
}
.plan_title{
    padding-top: 10rem;
}
.plan_title p{
    font-size: 1.7rem;
    color: #f55f8d;
    font-weight: 600;
    padding-bottom: 2.2rem;
    text-align: center;
}
.plan_title h2{
    font-size: 5.5rem;
    padding-bottom: 2rem; 
    line-height: 6rem;
    opacity: 0.85;
    text-align: center;
}
.plan_content{
    display: flex;
    max-width: 95rem;
    margin: 0 auto;
    
}
.plan_content_basic{   
    margin: 1.2rem auto;
    width: 29rem;
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);   
    border-radius: 0.8rem;
    transition: all 0.3s;
    background-color: white;
    background: url(../image/br.png);
    background-repeat: no-repeat;
    background-size: 0%;
    border-image: 100 round;

}
.plan__content_basic{
   width: 70%;
   margin: 2rem auto;
    
}
.plan_content_basic:hover{
    border-image: url(../image/br.png) 1 round; 
   
    
}

.plan__content_title{
    text-align: center;
}
.plan__content_title p:first-of-type{
    font-size: 2.6rem;
    font-weight: 700;
}
.plan__content_title p:last-of-type{
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: 500;
}
.plan__content_title p span{
    font-size: 3rem;
    font-weight: 700;
    color: orange;
   
}
.plan__content_basic img{
    width: 10rem;
    height: auto;
}
.plan__content_check{
    margin: 1rem 0;
}
.plan__content_check p{
 font-size: 1.5rem ;
 line-height: 3rem;
}
.plan__content_check i{
    margin: 0 1rem;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #f7e9ed;
    padding: 0.5rem;
    text-align: center;
    color: rgb(243, 122, 142);
}
.plan__content_basic button{
    display: block;
    margin: 0 auto;
    padding: 24px 40px;
    font-size: 1.3rem;
    font-weight: 400;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;    
    text-transform: uppercase;
    line-height: 1.2;    
}
.plan__content_basic button:hover{
    background-position: center right;
}

/* testimonial */
.testimonial{
    padding:8rem 0;
    width: 100rem;
    overflow: hidden;
}
.testimonial .title p{
    font-size: 1.7rem;
    color: #f55f8d;
    font-weight: 600;
    padding-bottom: 2.2rem;
    text-align: center;

}
.testimonial .title h2{
    font-size: 5.5rem;
    padding-bottom: 2rem; 
    line-height: 6rem;
    opacity: 0.85;
    text-align: center;
}

.swiper-slide{
    width: 100%;

}
.testimonial__text{
    width: 60rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.testimonial__text i{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5rem;
    transform: rotate(180deg);
    color: rgb(245, 108, 131);
}
.testimonial__name{
    font-size: 1.8rem;
    padding: 0.6rem;
}
.testimonial__position{
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
.testimonial__position+p{
    font-size: 1.2rem;
    font-style: italic;
    color: #585858;
}
.testimonial__comment .swiper-wrapper{
    border: 1px solid black;
    border-radius: 20px;
}


